{% extends 'customer/base.html' %} {% block content %}
<div class="container mb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
      <h1>About Us!</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-1">
    <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
      <p>
        Zomato is an Indian multinational restaurant aggregator and food
        delivery company founded by Deepinder Goyal and Pankaj Chaddah in 2008.
        Zomato provides information, menus and user-reviews of restaurants as
        well as food delivery options from partner restaurants in select cities.
      </p>
      <p>
        India's largest Food Delivery, Dining and Restaurant Discovery Service.
        Better food for more people.
      </p>
      <p>
        Whether you’re looking for biryani to feed your desi cravings, soul
        comforting pizzas and burgers, or even a salad with a cup of chai or
        coffee, Zomato is the only app you need for the quickest doorstep
        delivery of your favourites. With over 1.5 million restaurants and 285
        million ratings and reviews, discover the best around you in no time –
        only on the Zomato app.
      </p>
    </div>
  </div>
</div>
{% endblock content %}
